<ul class="comments">
    <li ng-repeat="comment in comments">
        <div class="comment">
            <div class="img-thumbnail">
                <img class="avatar" alt="" src="{{comment.image}}">
            </div>
            <div class="comment-block">
                <div class="comment-arrow"></div>
                <span class="comment-by">
                    <strong>{{comment.username}}</strong>
                    <span class="pull-right">
                        <span> <a href="" ng-click="showReply(comment);"><i class="fa fa-reply"></i> Reply</a></span>
                    </span>
                </span>
                <p>{{comment.text}}</p>
                <span class="date pull-right">{{comment.datetime}}</span>
            </div>
            <div ng-if="comment.bReply">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea maxlength="5000" rows="10" class="form-control" ng-model="comment.newReply"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Reply" class="btn btn-primary btn-lg" data-loading-text="Loading..." ng-click="addReply(comment)"/>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Cancel" class="btn btn-primary btn-lg" data-loading-text="Loading..." ng-click="hideReply(comment)"/>
                    </div>
                </div>
            </div>
        </div>
        <!--comments directive-->
        <comments ng-if="comment.replies.length>0" comments="comment.replies" template="templates/comments.html"></comments>
    </li>
</ul>